# Suicide Rates Dataset

This is a dataset that contains information to compare socio-economic info with suicide rates by year and country.

In [1]:
!ls -lh ./../datasets/

total 18912
drwx------@  7 johnjairo  staff   224B Jul 13 15:42 climate-change-earth-surface-temperature-data
-rwxr-xr-x@  1 johnjairo  staff   6.6M Sep 15  2017 factbook-country-profiles.json
drwxr-xr-x   4 johnjairo  staff   128B Jul 20 13:10 results
-rwxr-xr-x@  1 johnjairo  staff   2.6M Dec  1  2018 suicide-rates.csv
drwx------@ 10 johnjairo  staff   320B Jul 13 14:43 world-development-indicators
drwx------@  9 johnjairo  staff   288B Jul 18 22:06 world-happiness-report

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
path = "./../datasets/suicide-rates.csv"
suicide_rates = pd.read_csv(path)
suicide_rates.head(5)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [4]:
print(f"There are {len(suicide_rates)} records in the suicide rates file")

There are 27820 records in the suicide rates file

# Renaming columns

To facilitate the movement from the input files to the staging tables, we are going rename some columns of the file.

In [5]:
out = suicide_rates.rename(index=str, columns={'age': 'age_range', 
                                               'suicides/100k pop': 'suicides_100k', 
                                               ' gdp_for_year ($) ': 'gdp_for_year',
                                               'gdp_per_capita ($)': 'gdp_per_capita',
                                               'country-year': 'country_year',
                                               'HDI for year': 'hdi_for_year'
                                              })
out.head(5)

,country,year,sex,age_range,suicides_no,population,suicides_100k,country_year,hdi_for_year,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [6]:
out.to_csv("./../datasets/results/suicide_rates.csv")